.fondo-1 {
  color: white;
  background-color: #3e4147;
  height: 100vh;
}

.menu-title {
  background-color: #ff8e9e;
  font-weight: bold;
  color: white;
}

.menu-option {
  background-color: #474e68;
  color: white;
}
