<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let estudiante of estudiantes$ | async">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ estudiante | concatNombreApellido }}</mat-card-title>
          <mat-card-subtitle>{{ estudiante.curso }}</mat-card-subtitle>
        </mat-card-header>
        <img class="card-imagen" mat-card-image src="https://parentesis.com/imagesPosts/coder00.jpg" alt="">
        <mat-card-content>

          <p>{{ estudiante.correo }}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="primary">
            Editar
          </button>
          <button mat-button color="warn">
            Eliminar
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>